@mixin app-models-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-model{
    &-detail {
      background: mat-color($background, card);

      &-header-description,
      .mat-input-suffix,
      .mat-input-prefix {
        color: mat-color($foreground, secondary-text);
      }
    }

    &-photo-fallback {
      color: mat-color($foreground, secondary-text);
    }
  }
}

@mixin app-models-typography($typography) {
  .app-model-detail {
    &-header {
      @include mat-typography-level-to-styles($typography, subheading-2);
    }
  }
}
