.mat-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.mat-accordion {
  display: block;
}

.mat-accordion {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  padding: 8px 4px 96px;
}

.flex {
  flex: 1 1 0px;
}
