<button [style.display]="isNewer() ? 'none' : null" class="app-model-detail-header" (click)="toggle()" #header [@expansionHeight]="getExpandedState()">
  <div class="app-model-detail-header-ripple" matRipple [matRippleTrigger]="getHeaderElement()"></div>
  <div class="app-model-detail-header-title">{{ model.model }}</div>
  <div class="app-model-detail-header-description">
    <span>
      {{ model.brand }}<ng-container *ngIf="model.date">, {{ model.date | date: 'yyyy' }}</ng-container>
    </span>
    <span class="app-model-detail-header-price" *ngIf="model.price">R$ {{ model.price }},00</span>
  </div>
</button>
<section class="app-model-detail-body"
  [@bodyExpansion]="getExpandedState()"
  (@bodyExpansion.done)="handleAnimationChange($event)">
  <section class="app-model-detail-body-content" [formGroup]="form">

    <app-model-photo [src]="src"></app-model-photo>

    <div class="form">
      <mat-form-field>
        <input formControlName="code" i18n-placeholder placeholder="Código" matInput>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="model" #input i18n-placeholder placeholder="Modelo" matInput>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="brand" i18n-placeholder placeholder="Marca" matInput>
      </mat-form-field>

      <div class="row">
        <mat-form-field class="flex">
          <span matPrefix i18n>R$&nbsp;</span>
          <input formControlName="price" i18n-placeholder placeholder="Preço" matInput type="number">
          <span matSuffix i18n>,00</span>
        </mat-form-field>

        <mat-form-field class="flex">
          <input formControlName="date" [matDatepicker]="datepicker" i18n-placeholder placeholder="Data de lançamento" matInput>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input formControlName="photo" i18n-placeholder placeholder="Imagem" matInput>
      </mat-form-field>

    </div>
  </section>

  <section class="actions">
    <button mat-button *ngIf="!isNewer()" (click)="delete()" i18n>Remover</button>
    <div class="spacer"></div>
    <button mat-button (click)="cancel()" i18n>Cancelar</button>
    <button mat-button color="primary" [disabled]="form.invalid" (click)="save()" i18n>Salvar</button>
  </section>
</section>
