@import "~@angular/material/theming";
@import "app/app-theme";

$theme: mat-light-theme(mat-palette($mat-amber), mat-palette($mat-indigo), mat-palette($mat-red));
$typography: mat-typography-config();

@include mat-core();
@include angular-material-theme($theme);
@include app-theme($theme);
@include app-typography($typography);

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
